/*
 * Overrides some of Scribble's default stying to match PhantomNet's colors
 */

@import url(https://www.powderwireless.net/powder/fonts/raleway/stylesheet.css);

.navsettop, .navsetbottom, .tocset {
    background-color: #a2d2df;
    color: black;
}

.navsettop, .navsetbottom, .tocset td a {
    color: black;
}

.tocset td a.tocviewselflink {
    color: inherit;
    font-weight: bolder;
}

.navsettop a, .navsetbottom a {
    color: inherit;
}

.navsettop .nonavigation, .navsetbottom .nonavigation {
    color: #666;
}

.navsettop a:hover, .navsetbottom a:hover {
    background: #dcf3ff;
}

.tocviewsublist, .tocviewsublistonly, .tocviewsublisttop, .tocviewsublistbottom {
    border-left: 1px solid #666;
}

.refcolumn {
    background: #adc4cc;
    border-color: #0099cc; 
}

/*
 * Override some of the default fonts
 */

body, .main {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway Bold', serif;
}

.SAuthorListBox {
    font-family: 'Raleway Italic', serif;
}

.tocset td, .navsettop, .navsetbottom {
    font-family: 'Raleway', sans-serif;
}
